<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>비밀번호 수정</title>
        <link rel="stylesheet" href="/css/editPassword.css" />
        <link rel="stylesheet" href="/css/header.css" />
    </head>

    <body>
        <header>
            <script type="module">
                import headerHtml from '/js/header.js';
                document.body.insertAdjacentHTML('afterbegin', headerHtml);
            </script>
        </header>
        <main>
            <h2>비밀번호 수정</h2>
            <section class="profile-container">
                <form class="signup-form">
                    <label for="password">비밀번호</label>
                    <input
                        type="password"
                        id="password"
                        placeholder="비밀번호를 입력하세요"
                    />

                    <label for="confirmPassword">비밀번호 확인</label>
                    <input
                        type="password"
                        id="confirmPassword"
                        placeholder="비밀번호를 한번 더 입력하세요"
                    />

                    <button type="submit" class="modify-button">
                        수정하기
                    </button>
                </form>
            </section>
        </main>

        <script src="/js/editPassword.js"></script>
    </body>
</html>
