<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>게시글 상세 페이지</title>
        <link rel="stylesheet" href="/css/post.css" />
        <link rel="stylesheet" href="/css/header.css" />
    </head>
    <body>
        <header>
            <script type="module">
                import headerHtml from '../src/header.js';
                document.body.insertAdjacentHTML('afterbegin', headerHtml);
            </script>
        </header>

        <main>
            <article class="post">
                <h2 id="post-title">제목 로딩 중...</h2>
                <div class="post-meta">
                    <div class="user-info">
                        <div class="user-avatar"></div>
                        <span id="post-author">작성자 로딩 중...</span>
                    </div>
                    <span id="post-date">날짜 로딩 중...</span>
                    <div class="action-buttons">
                        <button
                            onclick="window.location.href='/editpost';"
                            id="edit-button"
                        >
                            수정
                        </button>
                        <button id="delete-button">삭제</button>
                    </div>
                </div>
                <div class="post-content">
                    <img
                        id="post-img"
                        src=""
                        alt="Post Image"
                        class="post-image"
                    />
                    <p id="post-content">내용 로딩 중...</p>
                </div>
                <div class="post-stats">
                    <div id="like-count" class="stat">0 좋아요</div>
                    <div id="view-count" class="stat">0 조회수</div>
                    <div id="comment-cnt" class="stat">0 댓글</div>
                </div>
            </article>

            <section class="comments">
                <textarea
                    id="comment-input"
                    placeholder="댓글을 남겨주세요!"
                ></textarea>
                <button
                    id="submit-comment-button"
                    type="submit"
                    id="submit-comment"
                >
                    댓글 등록
                </button>

                <div id="comments-section">
                    <!-- 댓글들이 여기 들어갑니다. -->
                </div>
            </section>
        </main>
        <div id="postDeleteModal" class="modal">
            <div class="modal-content">
                <h2>게시글을 삭제하시겠습니까?</h2>
                <p>삭제한 내용은 복구할 수 없습니다.</p>
                <div class="modal-buttons">
                    <button id="cancelPostDeleteButton">취소</button>
                    <button id="confirmPostDeleteButton">확인</button>
                </div>
            </div>
        </div>

        <div id="commentDeleteModal" class="modal">
            <div class="modal-content">
                <h2>댓글을 삭제하시겠습니까?</h2>
                <p>삭제한 내용은 복구할 수 없습니다.</p>
                <div class="modal-buttons">
                    <button id="cancelCommentDeleteButton">취소</button>
                    <button id="confirmCommentDeleteButton">확인</button>
                </div>
            </div>
        </div>
        <script type="module" src="../src/post.js"></script>
    </body>
</html>
