:root {
    /* 메인 색상 */
    --primary-color: #aca0eb;
    --primary-hover: #7f6aee;

    /* 배경 색상 */
    --background-color: #f2cb05;
    --secondary-background: #402023;

    /* 버튼 색상 */
    --button-color: #c4a5fa;

    /* 텍스트 색상 */
    --text-primary: #0785f2;
    --text-secondary: #666666;

    /* 테두리 색상 */
    --border-color: #cccccc;
}
