body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

main {
    width: 100%;
    max-width: 400px;
}

.profile-container {
    padding: 10px;
    background-color: white;
}

.profile-picture {
    position: relative;
    width: 149px;
    height: 149px;
    margin: 10px auto 20px auto;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.change-text {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 52px;
    height: 27px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    text-align: center;
    pointer-events: none; /* Prevent the text from interfering with click events */
    line-height: 27px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 15px;
    font-weight: 700;
    margin-top: -140px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-form label {
    text-align: left;
    font-weight: bold;
}

.edit-form input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
    font-weight: 400;
    margin-top: -20px;
}

.edit-button {
    background-color: #a185ff;
    color: white;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#quitButton {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.toast-message {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #aca0eb;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
    z-index: 1000;
    animation:
        fadeIn 0.3s,
        fadeOut 0.3s 2.7s;
}
