body {
    font-family: Arial, sans-serif;
}

/* 로그인 컨테이너 스타일 */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    gap: 20px;
}

.login-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* 로그인 폼 스타일 */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 10px;
    margin: 0 auto;
}

/* 입력 그룹 스타일 */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.input-group label {
    font-size: 15px;
    font-weight: 700;
}

.input-group input {
    width: 355px;
    height: 33px;
    /* padding: 0px 5px;*/
    margin: 10px 0px;
    border: 1px solid #000000;
    border-radius: 4px;
}

/* 버튼 스타일 */
.login-button {
    background-color: #aca0eb;
    color: white;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-button {
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    border: none;
}

/* 호버 효과 */
.login-button:hover {
    background-color: #0056b3;
}

.register-button:hover {
    background-color: #f8f9fa;
}
