body {
    background-color: var(--background-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 70px;
}

.welcome-message {
    text-align: center;
    align-items: center;
    margin: 40px 260px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    width: 280px;
    height: 62px;
}

.write-button {
    display: inline-block; /* 또는 block */
    position: relative;
    background-color: var(--secondary-background);
    margin-bottom: 13px;
    color: white;
    border-radius: 16px;
    /* padding: 9px 25px; */
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    width: 138px;
    height: 39px;
    top: 5px;
    left: 550px;
    text-align: center;
}

.write-button:hover {
    background-color: var(--secondary-background-color);
}

.posts {
    margin-top: 5px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    margin-bottom: 16px;

    text-decoration: none;
    width: 592px;
    height: 169px;
}

.post-header {
    display: blcok;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
}

.post-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
}

.post-date {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    margin-left: 240px;
}

.post-stats {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.post-stats span {
    margin-right: 5px;
}

.user-info {
    display: flex;
    padding: 20px;
    align-items: center;
    margin-top: -5px;
}

.user-avatar {
    width: 36px;
    height: 36px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-right: 8px;
    background-size: cover;
    background-position: center;
}

.user-name {
    font-size: 15px;
    font-weight: 700;
    color: #333;
}
